.content h3 a, 
.content h3 a:visited{
    color: red;
    padding-right: 0.5rem;
}

.content img {
    width: 20rem;
    height: 20rem;
    border-radius: 5rem;
}

.nav a{
    color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: retrooo;
    src: url("ARCADECLASSIC.TTF");
  }

body {
    background: hsla(160, 43%, 80%, 1); 
    font-weight: 700;
    font-family: 'Poppins', sans serif;
    overflow-x:hidden;
}

.mar {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'VT323', monospace;
    font-weight: 100;
}

/*Nav Start */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(6,9,36);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
}

nav .logo {
    color: hsla(160, 43%, 80%, 1);
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: rgb(6,9,36);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active {
    background: hsla(160, 43%, 80%, 1);
    color: rgb(6,9,36);
}

nav ul li a:hover {
    color: hsla(160, 43%, 80%, 1);
    background: rgb(6,9,36);
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

/*Nav End*/

/*Landing Float*/

.landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    margin-top: 120px;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #D1E9F1;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #D1E9F1;
    font-size: 1.3em;
    margin-top: 40px;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(6,9,36);
    color: #F5EEF8;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-top: 40px;
}

.content .imgBox {
    width:600px;
    display: flex;
    justify-content: flex-start;
    margin-right:150px;
    margin-top: 60px;
}

.content .imgBox img {
    max-width: 300px;

}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}



.glow:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(254, 122, 137, .4);
    transform: scale(1.1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(6,9,36);
    clip-path: circle(970px at right 1000px);
}

.wonka {
    animation: float 3s linear infinite;
    width:100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .wonka {
        width:100%;
        height: auto;
    }
}



@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-1rem);
    }
}

/*Landing End*/





/*start of testimonial*/



/* Slideshow container */
.slideshow-container {
    position: relative;
    background: hsla(348, 39%, 75%, 1);

    background: linear-gradient(135deg, hsla(348, 39%, 75%, 1) 0%, hsla(351, 78%, 71%, 1) 29%, hsla(18, 72%, 93%, 1) 65%, hsla(160, 43%, 80%, 1) 100%);
    
    background: -moz-linear-gradient(135deg, hsla(348, 39%, 75%, 1) 0%, hsla(351, 78%, 71%, 1) 29%, hsla(18, 72%, 93%, 1) 65%, hsla(160, 43%, 80%, 1) 100%);
    
    background: -webkit-linear-gradient(135deg, hsla(348, 39%, 75%, 1) 0%, hsla(351, 78%, 71%, 1) 29%, hsla(18, 72%, 93%, 1) 65%, hsla(160, 43%, 80%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D8A7B1", endColorstr="#EF7C8E", GradientType=1 );
    height: 38vh;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    margin-bottom: 0;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding-top: 20px;
      background: hsla(160, 43%, 80%, 1);
      
      height: 30px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}  



/*end of testimonial */



/*About Start*/

.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}


.white-heading {
    color: hsla(351, 78%, 71%) ;
}


.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}

.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}



.about {
    height: 70vh;
    width: 100%;
    background: rgb(6,9,36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .main img {
    width: 500px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
    color: whitesmoke;
    margin-left: 100px;
}

.owo {

    max-width: 95%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
}



@media screen and (max-width:1250px) {
    .about {
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width:650px) {
    .about .main img {
        margin-bottom: 35px;

    }

    .all-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

/*About End*/

@media screen and (max-width:35rem) {}

/*Button Start*/

.gBtn {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.gBtn:hover {
    background: rgb(61, 69, 143);
    color: rgb(61, 69, 143);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(61, 69, 143);
}

.gBtn:before {
    position: absolute;
    content: '';
    inset: 2px;
    background: rgb(72,155,255);
}

.gBtn span {
    position: relative;
    z-index: 1;
}

.gBtn i {
    position: absolute;
    inset: 0;
    display: block;
}

.gBtn i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: hsl(230 35% 7%);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.gBtn:hover i::before {
    width: 20px;
    left: 20%;
}

.gBtn i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: hsl(230 35% 7%);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.gBtn:hover i::after {
    width: 20px;
    left: 80%;
}

/*Button End*/

/*Features*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
}

.fea {
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-weight: 600;

}

.box {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 15px;
    width: 350px;
}

.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.box-cyan::after {
    background-color: rgb(69, 211, 211);
}

.box-red::after {
    background-color: rgb(234, 83, 83);
}

.box-blue::after {
    background-color: rgb(84, 158, 242);
}

.box-orange::after {
    background-color: rgb(252, 175, 74);
}

.box-push {
    transform: translateY(50%);

}

.box h2 {
    margin: 0;
}

.box:hover h2.box-cyan {
    color: rgb(69, 211, 211);
}

.box:hover h2.box-red {
    color: rgb(234, 83, 83);
}

.box:hover h2.box-blue {
    color: rgb(84, 158, 242);
}

.box:hover h2.box-orange {
    color: rgb(252, 175, 74);
}

.box p {
    font-size: 14px;
    margin: 15px 0 10px;
}

.box:hover p {
    color: rgb(88, 87, 87);
}

.box img {
    display: block;
    margin-left: auto;
}

.box:hover img {
    transform: scale(1.12);
    transition: ease-in .2s;
}

@media (max-width: 775px) {
    .box-push {
        transform: translateY(0);
    }
}

.feat {
    background: rgb(6,9,36);
}

.foot{
  color: #fff;
  font-size: 22px;
  display: block;
  position: absolute;
margin-top: 40px;
  position: relative;
  width: 90%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
  .foot a{
    color: #fff;
    text-decoration: none;
  }
  .fa{
    color: #E90606;
    margin: 0 3px;
    font-size: 40px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate}

@-webkit-keyframes pound{
  to{
    transform: scale(1.1)}

}
@keyframes pound{
  to{
    transform: scale(1.1)}
}

@media (max-width: 1230px) {
    .circle{
        clip-path: circle(0 at right 0);
    }
}

.testimonial{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
    color: #14213d;

    &-slide{
        padding:20px;
    }
    &_box{   

        &-top{
            background-color: #e5e5e5;
            padding: 30px;
            border-radius: 15px;
            display: flex;
            position: relative;
            box-shadow: 5px 5px 20px rgba(229, 229, 229, 0.301);
        }
        &-icon{
            margin-top: -12px;
            padding-right: 20px;
            i{
                font-size: 25px;
                color: #14213d;
            }
        }
        &-text{
            p{
                color: #707070;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }
        }
        &-shape{
            position: absolute;
            bottom: -10px;
            left: 50px;
            width: 20px;
            height: 20px;
            background-color: #e5e5e5;
            -webkit-transform: rotateZ(50deg);
            transform: rotateZ(45deg);
        }

        &-bottom{
            padding-top: 35px;
            padding-left: 25px;
        }
        &-profile{
            display: flex;
        }
        &-img{
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50px;
                border: 2px solid #e5e5e5;
            }
        }
        &-info{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 20px;
        }
        &-name{
            h4{
                font-size: 20px;
                line-height: 25px;
                color: #e5e5e5;
                margin-bottom: 0;
            }
        }
        &-job{
            p{
                color: #e5e5e5;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 20px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
    }
}
  .slick-dots li button:before{
    font-size: 15px;
    color: #e5e5e5;
  }

