{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <style>
        body {
            margin: 0.5rem 0 0 1rem;
        }

        .content{
            padding: 1rem;
        }

        a, a:link, a:visited{
            colour: red;
        }

        li {
            list-style-type: none;
        }

        .text-container {
            padding-left: 3rem;
        }
    </style>
{% endblock head %}
{% block title %}{{ obj.name }}{% endblock title %}

{% block body %}
    {% if obj %}
        <h1>{{ obj.name }}</h1>
        
        <div class='container'>
        {% comment %} <div class='img-div'> {% endcomment %}
        <img src="https://mr-owens-nest.s3.eu-central-003.backblazeb2.com/static/{{obj.thumbnail}}" alt={{ obj.name }} width=200 height=200/>
        {% comment %} </div> {% endcomment %}
        <div clas='text-container' style="margin-left: 2rem;">
        <ul>
            <li>Item Code: {{ obj.item_code }}</li>
            <li>Stock: {{ obj.stock }} units </li>
            <li>Last updated {{obj.date_updated|naturaltime }} </li>
        </ul>
        <br>
        <a href="{% url 'inventory:update' obj.slug %}" style="color: red;">Update {{ obj.name }}</a>
        <br>
        <a href="{% url 'inventory:delete' obj.slug %}" style="color: red;">Delete {{obj.name}}</a>
        </div>
        </div>
    {% endif %}
{% endblock body %}
