{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    
{% endblock head %}
{% block title %}Inventory{% endblock title %}

{% block body %}
    <h1>Inventory</h1>
    <br/>
    <a href="{% url 'inventory:create' %}" style="margin-left: 4rem; color: red;">Add Items</a>
    <br>
    <div class="container">
        {% for obj in qs %}
            
        <div class="card-1 card-div">
            <div class="gow-img-div img-div">
                <img src="https://mr-owens-nest.s3.eu-central-003.backblazeb2.com/{{ obj.thumbnail }}" width=100 height=100 alt="{{obj.name}}">
            </div>
            <div class="text-container">
                <h2 class="item-name"><a href="{% url 'inventory:detail' obj.slug %}">{{ obj.name }}</a></h2>
            </div>
        </div>
        {% endfor %}

    </div> 

{% endblock body %}