<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'navi.css' %}" />
</head>
<body>
    {% comment %} <div class="nav"> {% endcomment %}
        <header class="primary-header flex">
            <div>
                <img src="{% static 'images/logo.png' %}" alt="Mr Owen's Nest" class="logo">
            </div>
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only" aria-expanded="false">Menu</span></button>
            <nav>
                <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
                    <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/xcdsv78/"><span aria-hidden="true">00</span>Home</a>
                    <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/xcdsv78/inventory/"><span aria-hidden="true">01</span>Inventory</a>
                    <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/members/"><span aria-hidden="true">02</span>Members</a>
                    <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/about/"><span aria-hidden="true">03</span>Other</a>
                </ul>
            </nav>
          </header>
    {% comment %} </div> {% endcomment %}
</body>
</html>